/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body {
    background-color: #f1f1f1;
    margin: 0px;
    overflow-y: scroll;
}
.title {
    font-size: 18px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 640px;
}
.channelTitle {
    color: #404040;
    font-size: 14px;
}
.publishedAt {
    color: #606060;
    font-size: 14px;
}
button:hover {
    cursor: pointer;
}