.topBar {
    background-color: white;
    box-shadow: 0px 1px 10px -3px #909090;
    padding: 12px;
    display: flex;
    justify-content: center;
}
.searchBox {
    height: 36px;
    background-color: #e9e9e9;
    border: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    z-index: 2;
    padding: 0px 12px;
    min-width: 220px;
    outline: none;
}
.searchButton {
    background-color: #e1e1e1;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    height: 36px;
    padding: 0px 8px;
    outline: none;
    padding-left: 8px;
    transition: all .2s;
}
.searchButton p {
    margin: 0px;
    line-height: 36px;
}
.searchButton i {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 20px;
}
.searchButton:hover {
    background-color: #c1c1c1;
}